{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center p-3" >
        <form  action="http://www.baidu.com/baidu" class="col-5" target="_blank">
            <div class="input-group">
                <input type="text" class="form-control" autocomplete="off" name="word">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-success" value="百度一下">
                </div>
            </div>
        </form>
    </div>
    <div class="row justify-content-center">
        <div class="p-1 mt-5 col-8">
            <h4 class="font-weight-bold">影视直播</h4>

            <ul class="nav m-3">
                <li class="nav-item"><a class="nav-link" href="https://www.bilibili.com/">哔哩哔哩</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.douyu.com/">斗鱼直播</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.huya.com/">虎牙直播</a></li>
                <li class="nav-item"><a class="nav-link" href="http://www.4567kan.com/">4567TV</a></li>
                <li class="nav-item"><a class="nav-link" href="http://www.zzzfun.com/">zzzfun</a></li>
                <li class="nav-item"><a class="nav-link" href="http://www.imomoe.ai/">樱花动漫</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.zhenbuka.com/">真不卡影院</a></li>
                <li class="nav-item"><a class="nav-link" href="https://tv.syrme.top/?iao.su">简影</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.snailok.com/?iao.su">蜗牛影视</a></li>
                <li class="nav-item"><a class="nav-link" href="https://91mjw.com/?iao.su">91美剧网</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.novipnoad.com/">NO视频</a></li>
            </ul>

            <h4 class="font-weight-bold">阅读专区</h4>
            <ul class="nav m-3">
                <li class="nav-item"><a class="nav-link" href="https://new.shuge.org/">书格</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.allhistory.com/">全历史</a></li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="http://www.xbiquge.la/">新笔趣阁</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://ai.baidu.com/">百度AI</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.staticfile.org/">Staticfile CDN</a></li>
                <li class="nav-item"><a class="nav-link" href="https://meiriyiwen.com/">每日一文</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.cnki.net/">中国知网</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.shutxt.com/top/mz.html">下书网</a></li>

            </ul>

            <h4 class="font-weight-bold">素材工具</h4>
            <ul class="nav m-3">
                <li class="nav-item"><a class="nav-link" href="https://huaban.com/">花瓣网</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="http://www.netbian.com/">彼岸桌面</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.aigei.com/">爱给</a></li>
                <li class="nav-item"><a class="nav-link" href="https://tool.lu/">程序员工具箱</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.nruan.com/win-key.html">微软激活码</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.tool22.com/">兔二工具</a></li>
                <li class="nav-item"><a class="nav-link" href="http://code.ciaoca.com/">前端开发工具</a></li>
            </ul>
            <h4 class="text-secondary">...</h4>

        </div>
    </div>


{% endblock %}